/*Roboto: light*/
/*OpenSans: bold, regular, semiBold light*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:300&subset=cyrillic-ext');

/*HelveticaNeueCyr*/
	/*Bold*/
	@font-face {
		font-family: "HelveticaNeueCyr-Bold";
		src: url(../fonts/HelveticaNeueCyr-Bold.otf);
	}
	/*BoldItalic*/
	@font-face {
		font-family: "HelveticaNeueCyr-BoldItalic";
		src: url(../fonts/HelveticaNeueCyr-BoldItalic.otf);
	}
	/*Heavy*/
	@font-face {
		font-family: "HelveticaNeueCyr-Heavy";
		src: url(../fonts/HelveticaNeueCyr-Heavy.otf);
	}
	/*HeavyItalic*/
	@font-face {
		font-family: "HelveticaNeueCyr-HeavyItalic";
		src: url(../fonts/HelveticaNeueCyr-HeavyItalic.otf);
	}
	/*Italic*/
	@font-face {
		font-family: "HelveticaNeueCyr-Italic";
		src: url(../fonts/HelveticaNeueCyr-Italic.otf);
	}
	/*Light*/
	@font-face {
		font-family: "HelveticaNeueCyr-Light";
		src: url(../fonts/HelveticaNeueCyr-Light.otf);
	}
	/*LightItalic*/
	@font-face {
		font-family: "HelveticaNeueCyr-LightItalic";
		src: url(../fonts/HelveticaNeueCyr-LightItalic.otf);
	}
	/*Medium*/
	@font-face {
		font-family: "HelveticaNeueCyr-Medium";
		src: url(../fonts/HelveticaNeueCyr-Medium.otf);
	}
	/*Roman*/
	@font-face {
		font-family: "HelveticaNeueCyr-Roman";
		src: url(../fonts/HelveticaNeueCyr-Roman.otf);
	}
	/*Thin*/
	@font-face {
		font-family: "HelveticaNeueCyr-Thin";
		src: url(../fonts/HelveticaNeueCyr-Thin.otf);
	}
	/*ThinItalic*/
	@font-face {
		font-family: "HelveticaNeueCyr-ThinItalic";
		src: url(../fonts/HelveticaNeueCyr-ThinItalic.otf);
	}
	/*UltraLight*/
	@font-face {
		font-family: "HelveticaNeueCyr-UltraLight";
		src: url(../fonts/HelveticaNeueCyr-UltraLight.otf);
	}
	/*UltraLightItalic*/
	@font-face {
		font-family: "HelveticaNeueCyr-UltraLightItalic";
		src: url(../fonts/HelveticaNeueCyr-UltraLightItalic.otf);
	}


/*Helvetica*/
	/*Light*/
	@font-face {
			font-family: "HelveticaLight";
			src: url("../fonts/HelveticaLight/HelveticaLight.eot");
			src: url("../fonts/HelveticaLight/HelveticaLight.eot?#iefix")format("embedded-opentype"),
			url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"),
			url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
	/*UltraLight*/
	@font-face {
			font-family: "HelveticaUltraLight";
			src: url("../fonts/HelveticaUltraLight/HelveticaUltraLight.eot");
			src: url("../fonts/HelveticaUltraLight/HelveticaUltraLight.eot?#iefix")format("embedded-opentype"),
			url("../fonts/HelveticaUltraLight/HelveticaUltraLight.woff") format("woff"),
			url("../fonts/HelveticaUltraLight/HelveticaUltraLight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

/*Myriad Pro*/
	/*Regular*/
	@font-face {
			font-family: "MyriadProRegular";
			src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
			src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
			url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
	/*Bold*/
	@font-face {
			font-family: "MyriadProBold";
			src: url("../fonts/MyriadProBold/MyriadProBold.eot");
			src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
			url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

/*NeoSansPro*/

@font-face {
	font-family: "NeoSansPro-Ultra";
	src: url("../fonts/NeoSans/NeoSansPro-Ultra.ttf");
	src: url("../fonts/NeoSans/Neo Sans Std Ultra  TR.woff") format("woff"),
	url("../fonts/NeoSans/NeoSansPro-Ultra.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* BasicSansSerif7 */

@font-face {
    font-family: 'BasicSansSerif7';
    src: url('../fonts/BasicSansSerif7/basic_sans_serif_7.eot');
    src: url('../fonts/BasicSansSerif7/basic_sans_serif_7.eot') format('embedded-opentype'),
         url('../fonts/BasicSansSerif7/basic_sans_serif_7.woff2') format('woff2'),
         url('../fonts/BasicSansSerif7/basic_sans_serif_7.woff') format('woff'),
         url('../fonts/BasicSansSerif7/basic_sans_serif_7.ttf') format('truetype'),
         url('../fonts/BasicSansSerif7/basic_sans_serif_7.svg#basic_sans_serif_7') format('svg');
}